
<a
          href="javascript:;"
          class="size-chart-btn"
          data-fancybox
          data-src="#size-chart-popup-{{ product.id }}">
          Size and Fit Guide
        </a>
<div class="js-sizechart-lightbox js-sizechart-lightbox__custom" id="size-chart-popup-{{ product.id }}" style="display: none">
  
<div class="size-chart-main-wrap">
   <div class="inner__container"> 

    </div>
</div>

  <button type="button" data-fancybox-close class="popup-close">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 6L18 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>            
    </button>

  </div>


<style>



.js-sizechart-lightbox__custom .fancybox-button{
    display: none !important;
}

</style>
